.container{
  width: 160px;
  margin: auto;
  margin-top: 15%;
  background: rgb(139, 139, 139);
}

.displayCalcu{
  width: 95%;
  padding: 5px 5px 20px 0px;
  background-color: rgb(82, 82, 82);
  text-align: right;
  color: white;
  font-size: 20px;
}

.operador{
  width: 100%;
  padding: 10px;
  background-color: orange;
}

.operador:hover{
  background-color: rgb(252, 181, 49);
}

.valor{
  width: 100%;
  padding: 10px;
}
